.navbar-component {
    display: flex;
    background-color: #4a90e2;
    align-items: center;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    padding: 20px;
    color: #fff;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #0368c8;
  }